# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
./.env
.venv
.env/
venv/
ENV/
.env

GROUP_BUY_IMPLEMENTATION.md
ADVANCED_GROUP_BUY_FEATURES.md
GROUP_JOINING_USER_STORY.md
GROUP_JOINING_IMPLEMENTATION.md
test_group_buy_delete.py
GROUP_CHAT_IMPLEMENTATION.md
GROUP_CHAT_TESTING_SUMMARY.md